@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Daniil Vatsõk<br />
    TTHK Sõpruse pst. 182/183<br />
    <abbr title="Phone">P:+372554832</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:daniil.vatsok@gmail.com">daniil.vatsok@gmail.com</a><br />
</address>