@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kirill Lavrov
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="oma@mail.ru">oma@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mail@mail.ru">mail@mail.ru</a>
</address>