@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Artur Shumilo<br />
</address>

<address>
    <strong>Email:</strong>   <a href="#">artur.kexpa@gmail.com</a><br />
    <strong>Telephone:</strong> <a href="#">+ 372 5810 8578</a>
</address>