@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ruslan Kudrjavtsev<br />
    Mustamae tee 147<br />
    <abbr title="Phone">P:</abbr>
    +372 55663812
</address>