@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Estonia, Kehra<br />
    Kooli tn 6, 74306 Harju maakond<br />
    <abbr title="Phone">P:</abbr>
    +372 5891 4391
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:artur.kexpa@gmail.com">artur.kexpa@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dufftie@gmail.com">dufftie@gmail.com</a>
</address>