@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Danil Gritsenko <br />
    Pärnumaa, Sindi Linn<br />
    Väike Põllu 7<br />
    <abbr title="Phone">P:</abbr>
    5665 1975
</address>
