@{
    ViewBag.Title = "Contact";
    //TODO Sisesta sellele lehele oma nimi ja andmed
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nikita Vin.<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    8800.555.3535
</address>

<address>
    <strong>Gmail:</strong>   <a href="mailto:Support@example.com">nvv2514@gmail.com</a>
</address>