@{
    ViewBag.Title = "Home Page";
}
@{
    //TODO Muuda avalehe sisu lisa sobiv pilt //DONE
}
<div class="jumbotron">
    <h1>Jalgratta eksaam</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bicycle exam is very cool</h2>
        <p>
            And very good and very cool and very well. GG WP Zyabls.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Models/pictures/cycle1.png" />      
    </div>
</div>