@{
    ViewBag.Title = "Home Page";
}
@{
    //TODO Muuda avalehe sisu lisa sobiv pilt
}
<img src="../Images/best.jpg" alt="a+" style="display: inline-block" />
<div style="display: inline-block">
    <h1>Mida - Piramida</h1>
</div>