@{
    ViewBag.Title = "Home Page";
}
@{
    //TODO Muuda avalehe sisu lisa sobiv pilt
}
<div class="jumbotron">
    <h1>NOT ASP.NET, please</h1>
    <p class="lead">ASP.NET is a boring system</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Please, no more</h2>
        <p>
            Where are your parents?
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <img src="/img/maxresdefault.jpg" />
</div>