@{
    ViewBag.Title = "Home Page";
}
@{
    //TODO Muuda avalehe sisu lisa sobiv pilt
}
<h1>Tere tulemast jalgrata eksamile</h1>
<img src="~/Content/1455803444.png" alt="Sample Image" width="600px" />